<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="0" cellspacing="">
    <tr>
        <td> Nombre</td>
        <td> Correo</td>
    </tr>
    {% for r in data %}
    <tr>
        <td>{% r.1 %}</td>
        <td>{% r.2 %}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>